<div class="navbar">
    <div class="content" style="text-align: center;">
        <span class="logo">
            <a id="logo-button" href="/">brobet</a>
        </span>
        <span class="icons">
            @*<a class="bets" href="/Message">
                <i class="far fa-paper-plane"></i>
            </a>*@
            <a class="profile" href="/Account/Me">
                <i class="far fa-user"></i>
            </a>
        </span>
    </div>
</div>