@model Brobet.ViewModels.IndexViewModel
@{
}

@Html.Partial("_NavbarPartial")
<div id="partial-body">
    @{Html.RenderAction("IndexPartial", new { daysFromNow = Model.daysFromNow }); }
</div>
@Html.Partial("_TabbarPartial")
