@model Brobet.ViewModels.FriendshipViewModel
@{
}

@Html.Partial("_NavbarPartial")
<div id="partial-body">
    @{Html.RenderAction("FriendshipPartial", new { id = Model.id }); }
</div>
@Html.Partial("_TabbarPartial")
