
@{
    ViewBag.Title = "Login";
}

<div class="account login">
    <div class="header">
        <h1>brobet</h1>
    </div>
    <div class="body">
        <form id="login-form">
            <div class="input-group">
                <label>Username</label>
                <input type="text" placeholder="Username" class="username" name="username" />
            </div>
            <div class="input-group">
                <label>Password</label>
                <input type="password" placeholder="Password" class="password" name="password" />
            </div>
            <div class="input-group">
                <input type="submit" class="submit" value="Log in"/>
            </div>
            <div class="input-group">
                <span class="response"></span>
            </div>
        </form>
    </div>
</div>

<div class="account to-login">
    <span>Don't have an account? <a href="/Account/Register">Sign up</a></span>
</div>

<script>
    $(function () {
        var $username = $(this).find('.username');
        var $password = $(this).find('.password');
        var $loginButton = $(this).find('.submit');
        var $response = $(this).find('.response');

        $('#login-form').submit(function (e) {
            e.preventDefault();
            $response.html('');

            var data = $(this).serialize();
            


            var error = false;
            if ($username.val().length < 1) {
                //Username error
                error = true;
            }
            if ($password.val().length < 1) {
                //Password error
                error = true;
            }
            if (error) return;

            if ($loginButton.hasClass('loading')) return;
            $loginButton.addClass('loading').val('Logging in...');

            $.ajax({
                type: "POST",
                url: '/Account/Login',
                data: data,
                success: successResponse,
                error: errorResponse
            });


            function successResponse(response) {
                if (response.response === 'ERROR') {
                    if (response.message === 'WRONG_AUTHENTICATION') {
                        $username.addClass('error');
                    }
                    $loginButton.removeClass('loading').val('Log in');
                    $response.html('Wrong password');
                }
                else if (response.response === 'SUCCESS') {
                    console.log(response);
                    if (window.webkit) {
                        window.webkit.messageHandlers.userLogin.postMessage(response);
                    }
                    else if (typeof Android != 'undefined') {
                        Android.login(response.userId);
                    }
                    location.reload();
                }
            }

            function errorResponse(response) {
                $loginButton.removeClass('loading').val('Log in');
                $response.html('Wrong password');
            }

        });
    });
</script>