@background-color: #fafafa;
@dark-color: #34495e;
@light-color: #ffffff;
@primary-color: #3897f0;
@secondary-color: #2ecc71;
@box-border-color: #e6e6e6;
@text-color-light: #999;
@disabled-button-color: #ececec;

* {
    -webkit-appearance: none;
}

a {
    color: black;
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: @background-color;
    margin: 0;

    .body-content {
        margin-top: 115px;
    }

    .navbar {
        position: fixed;
        width: 100%;
        height: 75px;
        top: 0;
        background-color: @light-color;
        border-bottom: 1px solid @box-border-color;
        z-index: 99;

        .content {
            max-width: 460px;
            padding: 0 30px;
            margin: 0 auto;
            line-height: 75px;

            .logo {
                font-family: 'Press Start 2P', cursive;
                z-index: 9999;
                position: relative;

                a {
                    color: black;
                    text-decoration: none;
                }

                &.back {
                    font-size: 30px;
                }
            }

            .title {
                width: 100%;
                text-align: center;
                display: inline-block;
                position: absolute;
                left: 0;
            }

            .icons {
                float: right;
                font-size: 25px;

                a {
                    color: @text-color-light;
                    text-decoration: none;
                    padding-left: 20px;
                }
            }
        }
    }

    .tabbar {
        position: fixed;
        width: 100%;
        height: 75px;
        bottom: 0;
        background-color: @light-color;
        border-top: 1px solid @box-border-color;
        z-index: 99;

        .content {
            max-width: 460px;
            padding: 0 30px;
            margin: 0 auto;
            line-height: 25px;

            ul {
                list-style: none;
                position: relative;

                li {
                    position: absolute;

                    &:nth-of-type(1) {
                        left: 0;
                    }

                    &:nth-of-type(2) {
                        left: 32%;
                    }

                    &:nth-of-type(3) {
                        right: 32%;
                    }

                    &:nth-of-type(4) {
                        right: 0;
                    }

                    a {
                        color: @text-color-light;
                        font-size: 25px;
                    }

                    &.active {
                        a {
                            color: #4c4c4c;
                        }
                    }
                }
            }
        }
    }

    .account {
        background-color: @light-color;
        border: 1px solid @box-border-color;
        max-width: 350px;
        width: calc(~"100% - 82px");
        margin: 0 auto;
        padding: 5px 40px;
        margin-top: 100px;
        text-align: center;
        color: @text-color-light;

        &.to-login {
            padding: 30px 40px;
            margin-top: 10px;

            span {
                color: black;
                font-size: 14px;

                a {
                    text-decoration: none;
                    color: @primary-color;
                }
            }
        }

        h1 {
            color: black;
            font-family: 'Press Start 2P', cursive;
        }

        span.intro {
            font-weight: 600;
            font-size: 17px;
        }

        .header {
            border-bottom: 1px solid @box-border-color;
            padding-bottom: 30px;
        }

        &.login {
            .header {
                border-bottom: none;
                padding-bottom: 0;
            }
        }

        .body {
            padding-top: 30px;

            .terms {
                font-size: 14px;
                margin: 30px 30px;

                a {
                    font-weight: 600;
                }
            }

            .input-group {
                margin-bottom: 6px;

                label {
                    display: none;
                }

                input:not(.submit) {
                    -webkit-appearance: none;
                    display: block;
                    text-align: left;
                    width: calc(~"100% - 20px");
                    font-size: 12px;
                    border: 1px solid @box-border-color;
                    border-radius: 3px;
                    height: 36px;
                    background-color: @background-color;
                    padding: 0px 10px;

                    &.error {
                        border-color: darkred;
                    }
                }

                input.submit {
                    -webkit-appearance: none;
                    margin-top: 14px;
                    cursor: pointer;
                    border: none;
                    color: @light-color;
                    background-color: @primary-color;
                    padding: 10px 10px;
                    font-size: 14px;
                    display: block;
                    width: 100%;
                    text-align: center;
                    border-radius: 3px;
                    font-weight: 600;
                    margin-bottom: 20px;
                }
            }
        }
    }

    .body-container {
        background-color: @light-color;
        max-width: 400px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 90px;
        padding: 30px;
        border: 1px solid @box-border-color;



        input:not(.submit) {
            -webkit-appearance: none;
            display: block;
            text-align: left;
            width: calc(~"100% - 20px");
            font-size: 12px;
            border: 1px solid @box-border-color;
            border-radius: 3px;
            height: 36px;
            background-color: @background-color;
            padding: 0px 10px;

            &.error {
                border-color: darkred;
            }
        }

        .day-arrows {
            display: inline-block;
            width: 100%;
            font-size: 30px;

            a {
                color: @text-color-light;
                width: 80px;

                &.disabled {
                    visibility: hidden;
                }

                &.previous {
                    float: left;
                    text-align: left;
                }

                &.next {
                    float: right;
                    text-align: right;
                }
            }
        }

        .fixture {
            cursor: pointer;
            border-bottom: 1px solid @box-border-color;
            padding: 10px 0;

            &.status-NS {
                td.time {
                    .min, .status {
                        display: none;
                    }

                    .scheduled {
                        display: inline;
                    }
                }

                td.score {
                    .score-span {
                        display: none;
                    }
                }
            }

            &.status-TBA {
                td.score {
                    .score-span {
                        display: none;
                    }
                }
            }

            &.status-LIVE {
                td.time {
                    .status, .scheduled {
                        display: none;
                    }

                    .min {
                        display: inline;
                    }
                }
            }

            table {
                tr {
                    td {
                        padding: 0;

                        &.score {
                            width: 50px;
                            text-align: center;
                        }

                        &.logo {
                            width: 50px;
                            text-align: center;

                            img {
                                height: 30px;
                            }
                        }

                        &.time {
                            .min, .scheduled {
                                display: none;
                            }
                        }

                        &.name {
                            width: 500px;
                        }
                    }
                }
            }
        }

        .profile {
            h1 {
                display: inline-block;
                font-weight: 500;
            }

            .settings {
                color: black;
                font-size: 25px;
                margin-left: 20px;
            }

            .friends-list {
                h2 {
                }

                input:not(.submit) {
                    display: block;
                    text-align: left;
                    width: calc(~"100% - 20px");
                    font-size: 12px;
                    border: 1px solid @box-border-color;
                    border-radius: 3px;
                    height: 36px;
                    background-color: @background-color;
                    padding: 0px 10px;

                    &.error {
                        border-color: darkred;
                    }
                }

                input.submit {
                    -webkit-appearance: none;
                    margin-top: 14px;
                    cursor: pointer;
                    border: none;
                    color: @light-color;
                    background-color: @primary-color;
                    padding: 10px 10px;
                    font-size: 14px;
                    display: block;
                    width: 100%;
                    text-align: center;
                    border-radius: 3px;
                    font-weight: 600;
                    margin-bottom: 20px;
                }
            }
        }
    }


    .create-bet-request {
        h1 {
            max-width: 400px;
            margin: 0 auto;
            margin-top: 30px;
            color: #999999;
            text-align: center;
        }

        .send-bet-container {
            max-width: 462px;
            margin: 0 auto;

            @media(max-width: 462px) {
                text-align: center;
                margin-bottom: 60px;
            }

            .info {
                font-size: 13px;
                color: #9a9a9a;
                position: relative;
                top: 20px;
            }

            #send-bet-button,
            #accept-bet-button {
                -webkit-appearance: none;
                margin-top: 14px;
                cursor: pointer;
                border: none;
                color: @light-color;
                background-color: @primary-color;
                padding: 10px 10px;
                font-size: 14px;
                text-align: center;
                border-radius: 3px;
                font-weight: 600;
                margin-bottom: 20px;
                text-decoration: none;
                float: right;
                z-index: 9;
                position: relative;

                &.disabled {
                    background-color: @disabled-button-color;
                }

                @media(max-width: 462px) {
                    float: none;
                }
            }
        }

        .bet-containers {
            .bet-container {
                &.from {
                    border-right: 1px solid @box-border-color;
                    padding-right: 10px;
                }

                &.to {
                    padding-left: 5px;
                }

                display: inline-block;
                width: calc(~"50% - 11px");

                .bet-buttons {
                    .bet-button {
                        display: inline-block;
                        width: calc(~"33% - 23px");
                        -webkit-appearance: none;
                        margin-top: 14px;
                        cursor: pointer;
                        border: none;
                        color: #fff;
                        background-color: @text-color-light;
                        padding: 4px 10px;
                        font-size: 14px;
                        text-align: center;
                        border-radius: 3px;
                        font-weight: 600;
                        margin-bottom: 20px;

                        &.disabled {
                            background-color: @disabled-button-color;
                        }

                        &.selected {
                            background-color: @primary-color;
                        }
                    }
                }
            }
        }

        .friends-list {
            ul {
                list-style: none;
                padding: 0;

                li {
                    a {
                        color: @dark-color;
                        text-decoration: none;

                        i.fas {
                            width: 25px;
                            visibility: hidden;
                        }

                        &.selected {
                            i.fas {
                                width: 25px;
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }
    }

    .message-list {
        .body-container {
            padding: 0;
            max-width: 460px;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    a {
                        color: #333;
                        text-decoration: none;
                        display: block;
                        padding: 0 10px;

                        .profile-image {
                            display: inline-block;
                            font-size: 45px;
                            margin-right: 10px;
                        }

                        .username {
                            display: inline-block;
                            vertical-align: top;
                            height: 61px;
                            font-size: 15px;
                            font-weight: 600;

                            .text {
                                display: inline-block;
                                line-height: 61px;
                            }
                        }
                    }
                }
            }
        }
    }

    .friendship-message-list {
        position: absolute;
        width: 100%;
        bottom: 0;
        top: 25px;

        .body-container {
            padding: 0;
            max-width: 460px;
            position: absolute;
            margin-bottom: 0;
            top: 0;
            bottom: 0;
            width: calc(~"100% - 2px");
            left: 50%;
            transform: translateX(-50%);
            overflow: hidden;

            #messages-partial {
                height: 100%;
                overflow-y: scroll;
                -webkit-overflow-scrolling: touch;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                margin-top: auto;
                margin-bottom: 90px;

                a {
                    display: block;
                }

                li {
                    padding: 5px 20px;

                    .profile-image {
                        display: inline-block;
                        font-size: 25px;
                        margin-right: 15px;
                    }

                    .message {
                        .message-content {
                            position: relative;
                            text-align: left;
                            display: inline-block;
                            min-height: 34px;
                            vertical-align: top;
                            border: 1px solid @box-border-color;
                            border-radius: 17px;
                            padding: 0 20px;
                            max-width: calc(~"100% - 86px");

                            .fa-futbol {
                                position: absolute;
                                top: 10px;
                                right: -20px;
                            }

                            .text {
                                line-height: 34px;
                            }

                            .accepted-text {
                                position: absolute;
                                right: -85px;
                                bottom: 9px;
                                font-size: 12px;
                                color: #077307;
                            }
                        }
                    }

                    .bet {
                        .message-content {
                            position: relative;
                            text-align: left;
                            display: inline-block;
                            min-height: 34px;
                            vertical-align: top;
                            border: 1px solid @box-border-color;
                            border-radius: 17px;
                            padding: 20px 10px;
                            width: calc(~"100% - 22px");

                            .team {
                                display: inline-block;

                                &.home-team {
                                    float: left;
                                }

                                &.away-team {
                                    float: right;
                                }

                                .logo {
                                    display: inline-block;
                                    vertical-align: middle;
                                    width: 30px;
                                    height: 30px;

                                    img {
                                        width: 30px;
                                        height: 30px;
                                    }
                                }

                                .name {
                                    display: inline-block;
                                    vertical-align: middle;
                                    font-weight: 600;
                                    font-size: 12px;
                                }
                            }

                            .fixture-date {
                                display: inline-block;
                                position: absolute;
                                left: 0;
                                width: 100%;
                                text-align: center;
                                top: 0;
                                line-height: 100%;
                                height: 100%;

                                .time {
                                    font-weight: 600;
                                    font-size: 20px;
                                    position: relative;
                                    top: 20px;
                                }

                                .date {
                                    font-weight: 200;
                                    font-size: 10px;
                                    position: relative;
                                    top: 30px;
                                }
                            }
                        }
                    }


                    &.current-user {
                        text-align: right;

                        .message-content {
                            background-color: @box-border-color;
                        }

                        .accepted-text {
                            left: -65px;
                            right: unset;
                        }
                    }
                }
            }

            .compose-message-container {
                position: absolute;
                bottom: 0;
                width: 100%;
                padding: 10px 10px 30px 10px;
                background-color: white;

                input {
                    background-color: transparent;
                    width: calc(~"100% - 42px");
                    border-radius: 19px;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}

.modal-background {
    &.hidden {
        display: none;
    }

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);

    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;

        .me-profile-modal, .friends-list-modal {
            background-color: @background-color;
            border-radius: 20px;
            overflow: hidden;
            text-align: center;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    padding: 15px 70px;
                    border-bottom: 1px solid @box-border-color;

                    a {
                        font-size: 14px;
                        color: black;
                        text-decoration: none;
                    }

                    input {
                        border: none;
                        width: 100%;
                        text-align: center;
                        background-color: transparent;
                        font-size: 30px;
                    }
                }
            }
        }
    }
}
